<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASP.NET MVC 5 Course</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/datepicker3.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <!--Icons-->
    <script src="~/js/lumino.glyphs.js"></script>

    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span>ASP.NET MVC 5</span></a>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="nav menu">
            <li class="active">@Html.ActionLink("首頁", "Index", "Home")</li>
            <li>@Html.ActionLink("客戶資料", "Index", "客戶資料")</li>
            <li>@Html.ActionLink("連絡人資料", "Index", "客戶聯絡人")</li>
            <li>@Html.ActionLink("銀行帳戶資料", "Index", "客戶銀行資訊")</li>
            <li>@Html.ActionLink("客戶關聯資料", "客戶關聯資料", "客戶資料")</li>
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                @RenderSection("breadcrumb", false)
            </ol>
        </div><!--/.row-->
        <div class="row">
            <div class="col-lg-12">
                @RenderBody()
            </div><!--/.row-->
        </div>
    </div>

    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/chart.min.js"></script>
    <script src="~/js/chart-data.js"></script>
    <script src="~/js/easypiechart.js"></script>
    <script src="~/js/easypiechart-data.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script>
        $('#calendar').datepicker({
        });

        !function ($) {
            $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
                $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        }(window.jQuery);

        $(window).on('resize', function () {
            if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function () {
            if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>
</body>

</html>

